h1{
    color:red;
}

#yolo{
    background-color: blue;
    width:50px;
    height:50px;
}

#cube{
    background-color: antiquewhite;
}

#blalbla{
background-color: bisque;
    width: 50px;
    height:50px;
}